<div class="row">
  
  <div class="col-md-1"></div>
  
  <div class="col-md-2 mx-3">
    
  </div>
  
  <div class="col-md-4">
    <h4 class="font-weight-bold"><%= @site.site_name %></h4>
    <div class="my-3"><%= @site.introduction %></div>
    <span style="font-size:40px"><%= @admin.name %></span>
  </div>
</div>