<div class="row offset-2">
  <h2>所持現場一覧</h2>

  <div class="offset-6 col-4">
    <%= link_to new_admin_site_path, class: "btn btn-light" do %>
    <i class="fas fa-ad"></i>
    <% end %>
  </div>
</div>

<%= render "admin/sites/index", sites: @sites %>